* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444444;
}

body {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    color: #444444;
    font-size: 18px;
    line-height: 28px;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
    font-family: 'KOHIBaeumOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*header*/
#header {
    /* width: 1920px; */
    /*바깥에 넓이 값 안줌*/
    height: 171px;
    background-color: #f6e4c2;
}

.header_inner {
    width: 1320px;
    height: 171px;
    margin: 0 auto;
    position: relative;
}

.logo {
    position: absolute;
    display: block;
    top: 30px;
    left: 0;
}

.search {
    display: inline-block;
    position: absolute;
    top: 41px;
    left: 244px;
    border: 1px solid #444a99;
    border-radius: 50px;
    background: #fff url(images/search.png) 90% 50% no-repeat;
    color: #555;
    font-size: 14px;
    padding: 8px 90px 8px 19px;
}


.search:hover {
    background-color: #d7ecf5;
}

.link {
    font-size: 12px;
    position: absolute;
    top: 25px;
    right: 0;
}

.link a {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fbf2e1;
    padding: 1px 14px;
    margin-left: 10px;
}

.link a:hover {
    background-color: #fff;
    font-weight: bold;
}

/*nav*/
.nav {
    position: absolute;
    width: 880px;
    top: 132px;
    left: 50%;
    margin-left: -440px;
}

.nav li {
    float: left;
    width: 20%;
    font-weight: 700;
    text-align: center;
}

.nav li a:hover {
    color: #444a99;
    font-weight: bolder;
    text-decoration: underline;
}

.bolder {
    color: #444a99;
    font-weight: bolder;
    text-decoration: underline;
}

/*banner*/
#banner {
    width: 100%;
    height: 351px;
    background: url(images/banner.jpg) no-repeat center top;
    background-size: cover;
}

/*wrap*/
#wrap {
    width: 1320px;
    margin: 0 auto;
}

.contents1 {
    width: 100%;
}

.contents1 h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 150px 0 65px 0;
}

.right {
    float: right;
    margin-bottom: 30px;
}

.right a {
    font-size: 15px;
    border: 1px solid #444a99;
    padding: 10px 113px 10px 34px;
    border-radius: 30px;
    background: url(images/search.png) no-repeat 90% 50%;
}

.right a:hover {
    background-color: #d7ecf5;
}

table {
    width: 100%;
    border-top: 3px solid #444a99;
    border-collapse: collapse;
    margin-bottom: 100px;
}

th {
    color: #444a99;
    border-bottom: 1px solid #bbb;
    padding: 20px;
}

td {
    font-size: 16px;
    border-bottom: 1px solid #bbb;
    padding: 20px;
}

.center {
    text-align: center;
}

.page {
    height: 40px;
    position: relative;
    margin-bottom: 108px;
}

.page_inner {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -154px;
}

.page_inner li {
    float: left;
    margin-right: 6px;
}

/*footer1*/
#footer1 {
    width: 100%;
    height: 54px;
    background-color: #444a99;
}

.footer1_inner {
    width: 1320px;
    height: 54px;
    margin: 0 auto;
}

.footer1_inner p {
    float: left;
    margin: 14px 36px 0 0;
}

.footer1_inner p a {
    color: #fff;
    font-size: 17px;
}

.bold {
    font-weight: bold;
}

.footer1_inner p a:hover {
    text-decoration: underline 1px #fff;
}


/*footer2*/
#footer2 {
    width: 100%;
    height: 277px;
    background-color: #949494;
}

.footer2_inner {
    width: 1320px;
    margin: 0 auto;
}

.footer_left {
    width: 770px;
    float: left;
}

.footer_logo {
    float: left;
    margin: 27px 62px 0 0;
}

.footer_p {
    float: left;
    color: #ddd;
    margin-top: 42px;
    font-size: 17px;
}

.footer_p h4 {
    margin-bottom: 32px;
    font-size: 19px;
}

.footer_right {
    width: 230px;
    /*너비때문*/
    float: right;
    text-align: right;
}

.footer_right ul li {
    float: left;
    margin: 41px 20px 0 0;
}

.margin4 {
    margin-right: 0;
}

.footer_right img {
    opacity: 0.4;
}

.footer_right ul li:hover img {
    opacity: 1;
}

/*top버튼*/
.button {
    position: fixed;
    /*fixed의 기준은 창크기가 기준이 됨*/
    right: 50px;
    bottom: 50px;
    z-index: 100;
    /*다른 포지션 박스랑 겹쳤을 때 위로 올라오도록 높게 줌!*/
}